#export-btn {
    background: #2b55c9;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}
#cell-status {
    color:#2b55c9;
}
.cell-row {
    display: flex;
}

.cell {
    width: 80px;
    border: 1px solid lightgray;
    height: 40px;
    outline: none;
    box-sizing: border-box;
}

.cell.header {
    text-align: center;
    background: #eaeaea;
}

.cell.header.active {
    background: rgb(142, 168, 187);
    color: white;
}